<a href="https://colab.research.google.com/github/iamhafizmadnan/ai_engineer_series/blob/main/05_tuple_set.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Tuple**
1. Tuple is immutable , not changeable
2. Tuple is ordered and allow duplicate values.

In [6]:
tup = ('ali', 'raza',' usman')
tup

('ali', 'raza', ' usman')

In [8]:
# access the tuple item
tup[2]

' usman'

In [9]:
tup[-3]

'ali'

In [11]:
name = ('ali', 'ali','raza')
name

('ali', 'ali', 'raza')

**SETS**
1. Sets are unordered , unchangeable and unindexed

In [10]:
#
s = {3,44,5,6}
s

{3, 5, 6, 44}

In [13]:
#duplicate is not allowed
s = {dd,dd, saas,ddg}
s

NameError: name 'dd' is not defined

In [17]:
# join the set in this case we can use modulus operator.
fruit = {'apple', 'mango','orange'}
price = {50, 90, 100}
total = fruit | price
total

{100, 50, 90, 'apple', 'mango', 'orange'}