<a href="https://colab.research.google.com/github/iamhafizmadnan/ai_engineer_series/blob/main/07math_moudule.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Basic Mathematics

In [1]:
# find min
x = min(33,4,5,67,88)
x

4

In [2]:
# find the maximum number
z = max(33,4,5,775,54,333)
z

775

In [5]:
# sum the value
y = sum([33,42,111])
y

186

In [7]:
#
import math
x = math.sqrt(64)
x

8.0

In [8]:
math.floor (3.44)

3

In [9]:
math.ceil (3.33)

4

In [10]:
math.trunc (33.4)

33

In [11]:
#factorial
math.factorial (5)

120

In [12]:
# user input
firstname = 'Hafiz'
lastname = 'Adnan'
fullname = firstname + ' ' + lastname
fullname

'Hafiz Adnan'

In [15]:
# user input
firstname = input('Enter your name')
lastname = input('Enter your name')
fullname = firstname + ' ' + lastname
fullname

Enter your nameAdnan
Enter your namesami

'Adnan sami '

In [17]:
a = int (input("Provide first value"))
b = int (input('Provide second value'))
sum = a + b
sum

Provide first value33
Provide second value23

56

In [18]:
# from this method we give just value and it give us output
res = eval(input('Enter expression'))
res

Enter expression2+4*5-6

16