<a href="https://colab.research.google.com/github/iamhafizmadnan/ai_engineer_series/blob/main/14_function.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Function

In [6]:
# Arguments
def my_fun(fname): # this is the argument inside the paranthesis.
  print(fname + ' Sami')

my_fun('Adnan')
my_fun('Ali')
my_fun('zain')

Adnan Sami
Ali Sami
zain Sami

In [10]:
# Two arrguments
def my_fun(fname, Lname):
  print(fname +' ' +Lname)

my_fun('Adnan', ' Sami')

Adnan  Sami

In [11]:
# Two arrguments show error when you give only one argument.

def my_fun(fname, Lname):
  print(fname +' ' +Lname)

my_fun(' Sami')

TypeError: my_fun() missing 1 required positional argument: 'Lname'

In [12]:
# default parameter
def my_fun(country = 'Pakistan'):

  print("i am from "  + country)

my_fun("uk")
my_fun("USA")
my_fun()
my_fun("UAE")

i am from uk
i am from USA
i am from Pakistan
i am from UAE

In [15]:
# keyword argument
def my_fun(child3, child2, child1):
  print("The youngest child is " + child3)

my_fun (child1 = "Emil", child2 = "Tobias", child3 = "Linus")

The youngest child is Linus

In [17]:
# position argument
def my_fun(child3, child2, child1):
  print("The youngest child is " + child3 , child1, child2)

my_fun("Emil", "Tobias", "Linus")

The youngest child is Emil Linus Tobias

In [19]:
# mix positional and keyword arguement
def my_fun(name, age, city):
  print("My name is", name , "And my age is", age, 'and my city is', city)

my_fun("Adnan" , age = 33, city = "karachi")

My name is Adnan And my age is 33 and my city is karachi

In [22]:
# passing different value
def my_fun(city):
    for city in city:
        print(city)

city = ("karachi", "lahore", "islamabad")

my_fun(city)

karachi
lahore
islamabad

In [23]:
# return value
def my_fun(x):
  return 5 * x

print(my_fun(3))

15

In [24]:
def my_func(x,y):
  return x * y

result =my_func(8 ,8)
print(result)

64

In [27]:
# returning data types
def my_fun():
  return ['apple', 'orange','bannan']
fruits = my_fun()

print(fruits[0])
print(fruits[1])
print(fruits[2])

apple
orange
bannan

In [29]:
# Keyword-Only Arguments
def my_fun(a, b, *, c):
    print(a, b, c)

my_fun(1, 2, c=3)

1 2 3

In [30]:
# arbitrary argument
def my_fun(*kids):
  print("The youngest child is " + kids[2])

my_fun ('adnan', 'sami', 'ali')

The youngest child is ali